body {
    background: #474747;
    height: 1080px;
    width: 1366px;
    overflow-x: hidden;
}

.text {
    font-family: 'JK Abode';
    position: absolute;
    font-size: 96px;
    left: 600px;
    top:290px;
    color: white;
}

.Username {
    position: absolute;
    left: 600px;
    top: 417px;
    width: 531px;
    height: 40px;
    background: #474747;
    color: #fff;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.password {
    position: absolute;
    left: 600px;
    top: 517px;
    width: 531px;
    height: 40px;
    background: #474747;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
}

.button {
    position: absolute;
    left: 600px;
    top: 580px;
    width: 539px;
    height: 56px;
    background: #4044ED;
    transition: .3s;
    border: none;
    color: #fff;
}


.button:hover {
    background: #4043edab;
}






.circle {
    position: absolute;
    width: 914px;
    height: 914px;
    left: -585px;
    top: 102px;
    background: #4044ED;
    border-radius: 100%;
}
.circle1 {
    position: absolute;
    width: 700px;
    height: 700px;
    background: #4044ED;
    border-radius: 100%;
    left: 1600px;
    top: -300px;
}

.line1 {
    position: absolute;
    width: 1000px;
    height: 35px;
    left: 1600px;
    background: #474747;
    transform: rotate(140deg);
}

.line2 {
    position: absolute;
    width: 1000px;
    height: 35px;
    top: -269px;
    left: 1468px;
    background: #474747;
    transform: rotate(140deg);
}

.line3 {
    position: absolute;
    width: 1000px;
    height: 35px;
    top: -76px;
    left: 1468px;
    background: #474747;
    transform: rotate(140deg);
}
.line4 {
    position: absolute;
    width: 1000px;
    height: 35px;
    top: 297px;
    left: 1468px;
    background: #474747;
    transform: rotate(140deg);
}












.small_circle {
    position: absolute;
    width: 76px;
    height: 76px;
    left: 118px;
    top: 243px;
    background: #93DFFF;
    border-radius: 100%;
}

.triangle1 {
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid rgba(64, 67, 237, 0.753);;
    transform: rotate(-44.32deg);
    left: 1250px;
    top: 600px;
}
.triangle2 {
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid #4043edce;;
    transform: rotate(-44.32deg);
    left: 1400px;
    top: 750px;
}












